# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# patterns of file and directory names for git to ignore
# learn: https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# ignore everything (because dotfiles reside in $HOME)
/*

# except following files and directories
!.gitignore
!.gitconfig

!.profile
!.bashrc-win-x1
# !.zprofile    # created as link to .profile
!.bashrc
!.zshrc

!.minttyrc
!.vimrc
!.tmux/
