# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# User's git settings - apply to all User's git projects when not overruled
# by project git settings ./git/config
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# must spefify your name:
# - git config --global user.name "your name"
# - git config --global user.email "your@email.com"
[user]
    name = Sven Graupner
    email = sgraupner@bht-berlin.de

[core]
    ignorecase = true       # ignore upper/lower case in filenames
    autocrlf = false        # disable crlf conversion on checkout
    filemode = false        # ignore execute bit changes
    eol = lf                # always use "\n" as end-of-line

[init]
    defaultBranch = main    # use 'main' as default branch

[alias]                     # call aliases with: git <alias>
    changed = show --pretty=\"format:\" --name-only
    conflicts = !git ls-files -u | cut -f 2 | sort -u
